body{
	background-image: linear-gradient(59deg, #8572dc,#2e9ad9,#5bcec9,#5acc95);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}



/* wrapper div of all content */
#weather-container{
	background: #778e6f52;
    max-width: 400px;
    padding: 40px;
    border-radius: 60px;
    text-align: center;
    border: 1px solid #ffffff1a;
    box-shadow: 0px 5px 84px #0000005a;
    backdrop-filter: blur(20px);
}



/* input button and its placeholder */
input{
	border: none;
	box-sizing: content-box;
	border-radius: 15px;
	height: 30px;
	margin-right: 15px;
	font-size: 16px;
}
input::placeholder{
	padding-left: 9px;
}




/* button properties */
button{
	background: #675a7d62;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    width: 130px;
    font-size: 15px;
    box-shadow: 2px 2px 18px #2c2c2a86;
}
button:hover{
	background: #4d719a;
}




/* displays weather icon according to fetched data */
#weatherIcon{
	width: 200px;
	height: 200px;
	margin: 0 auto 10px;
	margin-bottom: 0;
	display: none;
}




/* displays temperature value */
#tempDiv{
	font-size: 60px;
	margin-top: -15px;
}



/* displays short description of weather */
#weatherInfo{
	font-size: 20px;
}



h2, label, p {
	color: #fff;
	margin: 4px 0;
}


/* wrapper of hourly weather forecast */
#hourForecast{
	margin-top: 50px;
	overflow-x: auto;
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}




/* styling of scrollbar due to nowrap*/
#hourForecast::-webkit-scrollbar {

    width: 15px; /* Width of the scrollbar */
}

#hourForecast::-webkit-scrollbar-track {
	border-radius: 15px;
    background: #ffffff47; /* Track color */
}

#hourForecast::-webkit-scrollbar-thumb {
	width: 10px;
	border-radius: 15px;
    background: #bdbabae8; /* Thumb/slider color */
}

#hourForecast::-webkit-scrollbar-thumb:hover {
    background: #4d4a4abd; /* Thumb/slider color on hover */
}



/* every hourly data within #hourForecast wrapper */
.hourItem{
	flex: 0 0 auto;
	width: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
}


/* image for each hourly forecast */
.hourItem img{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

#hourHeading{
	color: #fff;
	margin-top: 10px;
}